:root{
    /* Paleta principal */
    --cor-primaria: #C2185B;   /* azul */
    --cor-secundaria: #E45A92; /* amarelo */
    --cor-terciaria: #FF4081;  /* verde */

    /* Tons neutros */
    --cor-fundo: #ffffff;      /* branco */
    --cor-fundo-escuro: #121212; /* preto suave */
    --cor-texto: #333333;      /* cinza escuro */
    --cor-texto-claro: #f5f5f5; /* cinza claro */

    /* Estados */
    --cor-sucesso: #28a745;    /* verde sucesso */
    --cor-aviso: #ffc107;      /* amarelo alerta */
    --cor-erro: #dc3545;       /* vermelho erro */
    --cor-info: #17a2b8;       /* azul informação */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "menu main main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 60px 1fr 1fr;
    height: 100vh;
}

/* ---\\\ HEADER ///--- */

header{
    width: 100%;
    height: 60px;
    grid-area: header;
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ocultar, #ocultar{
    display: none;
    color: red;
}

#btn-menu{
    /*width: 25px;
    height: 25px;*/
    /*background-color: turquoise;*/
    border: none;
}

#btn-menu i{
    font-size: 25px;
}

#div-logomarca{
    width: auto;
    height: 40px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

#logo{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
}

#div-logomarca h1{
    font-size: 25px;
    /* color: var(--cor-primaria); */
    color: black;
}

#barra-tt{
    width: 40px;
    height: 20px;
    background: var(--cor-texto-claro);
    border-radius: 10px;
    border: none;
}

#seletor-tt{
    width: 21px;
    height: 21px;
    background: var(--cor-texto);
    border-radius: 50%;
    z-index: 999;
}


/* ---\\\ MENU ///--- */

#menu{
    grid-area: menu;
    height: 100%;
    background-color: var(--cor-secundaria);
    padding: 30px 11px 30px 20px;
    z-index: 998;
    transition: 1s ease-in-out;
}

#menu:hover{
    cursor: pointer;
    width: 160px;  
}

#menu section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#menu section div{
  overflow: hidden;
  width: 100%;
}

#menu section div{
  /* display: inherit; */
  gap: 10px;

}

.pags{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 11px;
  color: var(--cor-texto);
  background: #fea6a2;
  margin-bottom: 10px;
  padding: 3px;
}

.pags i{
  font-size: 25px;
}

/* .elem-text-menu{
  display: none;
} */

/* ---\\\ MAIN ///--- */

main {
    grid-area: main;
    background-color: #FFE4EF;
    height: 100%;
}

#s-explicacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#s-explicacao div{
  max-width: 600px;
}

#s-explicacao div p{
    display: flex;
    justify-content: space-between;
    padding: 1rem clamp(1.5rem, 5vw, 4rem);
}

#btn-treinamentos{
  width: 200px;
  height: 50px;
  background: var(--cor-terciaria);
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

#figure-main{
    width: 300px;
    height: 250px;
}

#img-explicacao{
    width: 100%;
    height: 100%;
    background: var(--cor-aviso);
}
