:root {
  /* Paleta principal */
  --cor-primaria: #C2185B;
  --cor-secundaria: #E45A92;
  --cor-terciaria: #FF4081;

  /* Tons neutros */
  --cor-fundo: #ffffff;
  --cor-fundo-escuro: #121212;
  --cor-texto: #333333;
  --cor-texto-claro: #f5f5f5;

  /* Extras */
  --cor1: #65264F;
  --cor1-forte: #490140;
  --corcinza1: #8285A4;

  /* Estados */
  --cor-sucesso: #28a745;
  --cor-aviso: #ffc107;
  --cor-erro: #dc3545;
  --cor-info: #17a2b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

.container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "menu main main";
  grid-template-rows: auto 1fr;
  grid-template-columns: min-content 1fr 1fr;
  height: 100vh;
}

/* Header */
header {
  grid-area: header;
  height: 60px;
  background: #1A1A40;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#div-logomarca {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#div-logomarca h1 {
  font-size: 25px;
  color: var(--cor-texto-claro);
}

/* Menu lateral */
.menu {
  grid-area: menu;
  width: 60px;
  background: #111338;
  padding: 30px 0;
  transition: width 0.4s ease;
  overflow: hidden;
}

.menuAberto {
  width: 200px !important;
}

.pags {
  width: 65%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #c4dafa;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.pags:hover {
  background: #417cea;
}

.menu.menuAberto .pags {
  width: 90%;
  justify-content: flex-start;
  padding-left: 15px;
}

.elem-text-menu {
  display: none;
}
