:root{
    --cor-primaria: #C2185B;
    --cor-secundaria: #f44336;
    --cor3: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "menu main main"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 60px 1fr 1fr;
    height: 100vh;
}

/* ---\\\ HEADER ///--- */

header{
    width: 100%;
    height: 60px;
    grid-area: header;
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-menu{
    width: 25px;
    height: 25px;
    background-color: turquoise;
    border: none;
}

#div-logomarca{
    width: 140px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

#logo{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
}

#div-logomarca h1{
    font-size: 18px;
    color: var(--cor-primaria);
}
    

#troca-tema{
    width: 25px;
    height: 25px;
    background-color: purple;
    border: none;
}

#menu{
    grid-area: menu;
    height: 100%;
    background-color: var(--cor-secundaria);
}

#menu:hover{
    cursor: pointer;
    width: 160px;  
}

main {
    grid-area: main;
    background-color: #e0e0e0;
    height: 100%;
}

footer {
    grid-area: footer;
    background-color: var(--cor-primaria);
    width: 100%;
    height: 45px;
}
